body {
    padding-top: 65px;
    background-image: url("../images/bg-full.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.panel-transparency {
  background: rgba(255, 255, 255, 0.6)
}

.img-brand {
  height: 1.5em;
}
